@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gemunu Libre', sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/04/aa/93/04aa93c0d9fc3de3bf07af0388d90f94.jpg);
    width: 100%;
    height: 100vh;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 7%;
    font-size: 3.5em;
    font-weight: 2em;
    color: blue;
    animation: bounce 10s infinite;
}

h3 {
    display: flex;
    justify-content: center;
    margin-top: 5px;
    color: var(--pg-color);
}

 :root {
    --pg-color: #dd0a7e;
    --pink: #ec4899;
    --background: #001329;
}

::placeholder {
    color: rgb(255, 254, 254);
    font-size: 1.0em;
}

.task {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--pg-color);
    /* border: 1px solid rebeccapurple; */
    margin-top: -4px;
    height: auto;
}

.text-c {
    color: var(--pg-color);
    text-decoration: line-through;
}

.todo-input {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
}

.firstinput {
    width: 35%;
    padding: 3px;
    border-radius: 26px;
    text-align: center;
    border: none;
    outline: none;
    background: blue;
    color: white;
    /* caret-color: white; */
    font-size: 1.5em;
    /* animation: myshade 3s infinite; */
}

.text {
    width: 45%;
    padding: 5px;
    border-radius: 16px;
    /* text-align: center; */
    border: 3px solid var(--pg-color);
    outline: none;
    background: var(--background);
    color: var(--pg-color);
    /* caret-color: white; */
    font-size: 1.5em;
}

@keyframes myshade {
    50% {
        /* box-shadow: 1px 1px 2px 1px chocolate; */
        text-shadow: 5px 1px 3px chocolate;
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    5% {
        transform: translateY(-100%);
        opacity: 0;
    }
    15% {
        transform: translateY(0);
        padding-bottom: 5px;
    }
    30% {
        transform: translateY(-50%);
    }
    40% {
        transform: translateY(0%);
        padding-bottom: 6px;
    }
    50% {
        transform: translateY(-30%);
        text-shadow: 10px 20px 30px blue;
    }
    70% {
        transform: translateY(0%);
        padding-bottom: 7px;
    }
    80% {
        transform: translateY(-15%);
    }
    90% {
        transform: translateY(0%);
        padding-bottom: 8px;
    }
    95% {
        transform: translateY(-7%);
    }
    97% {
        transform: translateY(0%);
        padding-bottom: 9px;
    }
    99% {
        transform: translateY(-3%);
    }
    100% {
        transform: translateY(0);
        padding-bottom: 9px;
        opacity: 1;
    }
}

@media only screen and (max-width: 550px) {
    .firstinput {
        width: 100%;
        margin-left: 10%;
        margin-right: 10%;
        font-size: 1.0em;
    }
    .text {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 1.0em;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 1072px) and (min-width: 551px) {
    .firstinput,
    .text {
        width: 100%;
        margin-left: 15%;
        margin-right: 15%;
    }
}